<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/home">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blogs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <% if (isAdmin) { %>
                    <li class="nav-item">
                        <a class="nav-link text-warning" href="/admin">Admin</a>
                    </li>
                <% } %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <% if(isAuth && username) { %>
                            <%= username %>
                        <% }else{ %>
                            <i class="fas fa-user"></i>
                        <% } %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <% if (isAuth) { %>
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li>
                                <a 
                                    class="dropdown-item" 
                                    onclick="event.preventDefault(); document.getElementById('logoutForm').submit();" 
                                    href="/logout">
                                        Logout
                                </a>
                            </li>
                            <form action="/logout" id="logoutForm" method="POST" class="d-none">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            </form>
                        <% }else{ %>
                            <li><a class="dropdown-item" href="/login">Giriş yap</a></li>
                            <li><a class="dropdown-item" href="/register">Kayıt ol</a></li>
                        <% } %>
                    </ul>
                </li>
                <a href="#" class="btn text-white position-relative">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      <%= userProducts %>
                    </span>
                </a>
            </ul>
            <form action="/products" class="d-flex">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>